header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
}

header form {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.form-container {
  display: flex;
}

.familia-container {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
}

.conteudo-container {
  width: 50%;
}

.conteudo-checkbox {
  display: flex;
  flex-wrap: wrap;
}

.conteudo-checkbox div{
  width: 30%;
}

.turma-container {
  display: flex;
  flex-flow: row;
}

#form-data {
  display: none;
}